@charset "UTF-8"

:root{
    --cor01: #EBA836;
    --cor02:#E6CC20;
    --cor03:#E6E420;
    --cor04:#E67E20;
    --cor05:#EBC336;

    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(imgs/bitcoin-crypto-currency.jpg);
    text-align: justify;
    

}
header{
    background: radial-gradient(circle,#3a2512,#544c2f);
    text-align: center;
    padding: 25px;
    
    
}
header h1{
    color: white;
}
nav{
    background: radial-gradient(circle,#3a2512,#544c2f);
    padding: 10px;
    text-align: center;

}
nav a{
   padding-right: 35px;
   text-decoration: none;
   color: white;
   transition-duration: 1s;
   margin-bottom: 10px;

}
nav a:hover{
    background-color: #8e6f00;
    border-radius: 5px;
    margin-bottom: 0px;
    padding: 0%;
}


main{
    text-align: center;
    
}

div.quadrado{
    
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  

    }

div.quadrado h2{
    display: block;
    color: #dfdfdf;
    font-size: 1,5em;
    text-align: justify;
    padding-top: 45px;
    

}
div#q1{display: inline-flex;
    width: 300px;
    height: 200px;
    margin: 10px 10px 20px 20px;
    background-image: url(imgs/btd.jpeg);
    text-align: start;
}
div#q2{display: inline-flex;
    width: 300px;
    height: 200px;
    margin: 10px 10px 20px 20px;
    background-image: url(imgs/bear.jpeg);
}
div#q3{display: inline-flex;
    width: 300px;
    height: 200px;
    margin: 10px 10px 20px 20px;
    background-image: url(imgs/sol.jpeg);
}
div#q4{display: inline-flex;
    width: 300px;
    height: 200px;
    margin: 10px 10px 20px 20px;
    background-image: url(imgs/th.jpeg);
}

main{
    text-align: center;
}
div.artigo{
    
    width: 40%;
    color: white;
    min-height: 4em;
    text-align: justify;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
div#a1{
    
    width: 40%;
    color: white;
    min-height: 4em;
    text-align: justify;
    display: inline-flex;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 10px;
    padding: 10px;


}
div#a2{
    display: inline-flex
}
div#a1 h2{
    font-size: 1em;
}
div#a2 h2{
    font-size: 1em;
}
div#a1 p{
    margin: 5px;
    padding: 5px 5px 20px 5px;
}
div#a1 img{
padding: 15px;
width: 90%;

}

div#a2 p{
    margin: 5px;
    padding: 5px 5px 40px 5px;
}
div#a2 img{
    width: 100%;
    height: 250px;
    
}








footer{
    background-color: rgb(90, 80, 3);
    text-align: center;
    color: white;
    padding: 10px;
    
}